.grow {
    flex-grow: 1;
}

.logoIcon {
    width: 30%;
    margin: 0.5rem 0 0.5rem 0;
}

.buttons {
    display: flex;
}

.head {
    display: flex;
    align-items: initial;
    text-align: left;
}
