@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

h2,
h3 {
  color: #3e3433;
  font-family: "Lora", serif;
}

h1 {
  font-weight: 100;
}

h5.MuiTypography-h5 {
  color: #3e3433;
  font-family: "Lora", serif;
}

footer {
  margin-top: 4rem;
  opacity: 0.8;
}

label.MuiFormLabel-root.Mui-focused {
  color: #3e3433;
}

input.MuiInputBase-input {
  color: #3e3433;
}

body {
  background-color: #d6f6dd;
}

button.MuiButtonBase-root {
  font-weight: bold;
  color: #d6f6dd;
  margin: 0.5rem;
  padding: 0.5rem;
}

button.MuiButtonBase-root:hover {
  background-color: #7b9e87a4;
  font-weight: bold;
  font-family: "Barlow", sans-serif;
  color: #d6f6dd;
}

svg.MuiSvgIcon-root {
  color: #3e3433;
}

p.MuiTypography-root {
  color: #3e3433;
}

p.MuiTypography-root a {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header.MuiAppBar-colorPrimary {
  background-color: #58685d;
}

input.MuiFilledInput-input {
  padding: 25px 10px 10px;
}

div.MuiPaper-root {
  background-color: #d6f6dd;
}

input.MuiInputBase-input {
  max-width: 40vw;
}

div.MuiGrid-root {
  flex-wrap: nowrap;
}

input[type="date"],
textarea {
  background-color: white;
}

input[type="date"],
textarea {
  background-color: white;
}
